body{
    font-family: Arial;
    font-size: 14px;
    height: 100%;
    min-height: 100%;
    background-color: #330033;
}
img{
    max-height:200px;
    max-width:200px;
}

.logo {
    afont-size: 100px;
    afont-weight: bolder;
    aletter-spacing: -6px;
    acolor: #222;
    amargin: 20px 30px;
    display:inline-block;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222 !important;
    color: #fff !important;
}

.navigation a:hover {
    color: #222 !important;
    background: transparent !important;
}
.center{
    text-align: center;
}

.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
}

.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.fill_height{
    position:relative;
    min-height: 100%;
    height:100%;
}

.footer {
    padding-top: 20px;
    margin-top: 33px;
    padding-bottom: 20px; 
    font-size: 12px;
    opacity: 0.75;
    
    width: 100%;
    bottom:0;
}

.footer a {
    color: #454545;
}
.float_left{
    float:left;
}
.float_right{
    float:right;
    margin-top:-30px;
}

.inline{
    display: inline;
}
.vertical_align h1 h4 a{

    vertical-align: middle;
    
}

.text_color_white{
    color: #ffffff;
    
}

#main_text_color:{
    color: #ffcc33;
}

#secondary_text_color{
    color: #330033;
}

#main_background{
    background-color:  #ffcc33;
}

#secondary_background{
    background-color: #330033;

}

#container{
    display:inline;
    vertical-align:top;
    width:100%;
    padding-bottom:30px;
}

#flex{
    display:flex;
}
#container_head {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:100px;
}

#center {
    display: inline-block;
    margin:0 auto;
}

#right {
    float:right;
    text-align:center;
    padding-top:2%;
}

#black_text{
    color:#330033;
}

#logo {
    height: 30%;
    width: 30%;
}

#gatorlodge{
    padding-left:15%;
    padding-top:5%;

}

#login{
    padding-top:10%;
}

ls{
    background-color:#000000;
    text-color:#000000;
}

a:link, a:visited {
    background-color: #FFCC33;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color:#FFCC33;
}

#pills a:link, a:visited {
    background-color: #FFCC33;
    color: white;
    text-align: center;
    text-decoration: none;
}

#pills a:hover, a:active {
    background-color:#330033;
}

#pill-shape{
 border-radius: 20%/50%;
}
#listing-info{
background:#FFCC33;margin-top:5px;padding:2%
display:inline-block;
}
